.fondeo{
    
    background-image: url(imagenes-laser/fondo-base-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
    
       
    }

 

 